# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# security
apiKey.js

# internal
/internal

# images
/YelpLogo_Trademark
/yelp_stars

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
scratchwork.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
