body {
  min-width:300px;
}

.header {
  background: red;
}

i {
  margin-left: 3px;
  margin-right: 3px;
}

.restaurant {
  background: #f5f5f5;
  border-style: solid;
  border-color: #dee0e2;
  border-width: .5px;
  padding: 3px 4px 3px 8px;
  font-size: large;
  white-space: nowrap;
  width: auto;
}

.restaurant:hover {
  background: #c9cedd;
}